version: "1.0.0"

services:
  app:
    container_name: neonspectre
    build:
      context: .
      dockerfile: Dockerfile
    command: bash start.sh
    restart: on-failure
    ports:
      - "80:80"
      - "8080:8080"
